*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Segoe UI",Arial, sans-serif;
}
body{
    min-height: 100vh;
    background: linear-gradient(120deg,#667eea,#76aba2);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header{
    text-align: center;
    color:white;
    padding:25px 10px;
}
.container{
    background: white;
    width:90%;
    max-width: 420px;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 12px 30px rgba(0,0,0,0,25);
}
.task-input-section label{
    font-size: 13px;
    font-weight: 600;
    margin-top: 10px;
    display: block;
}
.task-input-section input{
    width:100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline:none;
}
.task-input-section button{
    width: 100%;
    margin-top: 15px;
    padding: 12px;
    border-radius: 8px;
    border:none;
    background: #667eea;
    color: white;
    font-size: 15px;
    cursor: pointer;
}
.task-input-section button:hover{
    background:#5a67d8;
}
.filter-section{
    margin-top: 20px;
    text-align: center;
}
.filter-section h3{
    font-size: 16px;
    margin-bottom:10px;

}
.filter-section button{
    padding: 6px 12px;
    margin: 5px;
    border-radius: 20px;
    border: none;
    background: #e2e8f0;
    cursor: pointer;
    font-size: 13px;
}
.filter-section button:hover{
    background: #cbd5f5;
}
.task-list-section{
    margin-top: 20px;
}
.task-list-section h3{
    margin-bottom: 10px;
    font-size: 16px ;
}
#taskList li{
    background: #f7fafc;
    padding: 12px;
    border-radius: 10px;
    margin-bottom: 10px;
}
#taskList li.completed{
    text-decoration: line-through;
    opacity:0.6;
}
.task-actions{
    display:flex;
    justify-content: space-between;
    margin-top: 8px;
}
.task-actions button{
    border:none;
    padding:5px 8px;
    border-radius: 6px;
    font-size: 12px;
    cursor: pointer;
}
.task-actionsbutton:hover{
    opacity:0.8;
    }
.footer{
    margin-top: 15px;
    color: 0.8;
    font-size: 12px;
    opacity: 0.8;
}
